
*{
  margin: 0px;
  padding: 0px;
  font-family: 'Rubik', sans-serif;
}
p{
  color: gray;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}
.info-message{
  color: black;
  font-size: 16px;
  font-weight: 400;
  padding: 10px;
}
h2{
  text-align: center;
  font-weight: 600;
  margin: 15px;
}
.header{
  width: 100%;
  top: 0;
  position: sticky;
  z-index: 99999;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  height: 80px;
  padding: 10px 20px;
  background: white;
}
nav img{
  width: 100px;
  margin: 10px;
}
.nav-links{
  flex: 1;
  text-align: right;
  margin-top: 5px;
}
.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 10px;
  position: relative;
}
.nav-links ul li a{
  color: black;
  text-decoration: none;
  font-size: 16px;
}
.menu-link::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #F9B138;
  display: block;
  margin: auto;
  transition: 0.3s;
}
.menu-link:hover::after{
  width: 100%;
}
.main-index{
  height: 100vh;
  width: 100%;
  background-image: url(imagesbake/banner2.jpg);
  background-position: bottom;
  background-size: cover;
  position: relative;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-box{
  color:#242526;
  position: absolute;
  text-align: left;
  top: 35%;
  left: 15%;
}
.text-box h1{
  font-size: 64px;
  font-weight: 500;
}
.text-box p{
  margin: 10px 0 20px 0;
  font-size: 16px;
  color:#242526;
  padding: 0;
}
.link-button{
  display: inline-block;
  text-decoration: none;
  border-radius: 3px;
  padding: 12px 24px;
  background: #F9B138;
  position: relative;
  cursor: pointer;
  color: white!important;
  font-size: 16px;
}
.link-button:hover{
  background: darkorange;
  transition: 0.4s;
}
.menu-link span{
  margin: 0;
  vertical-align: bottom;
  color: #242526!important;
  height: auto;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' -25,
  'opsz' 20
}

/* logout button */
.image-logout{
  width: auto;
  height: 30px;
  margin-bottom: 5px;
}
.image-logout:hover{
  border-radius: 5px;
  background: rgb(184, 182, 179);
  transition: 0.4s;
}
/* logout button */

/* footer */
.footer{
  display: flex;
  background: white;
  flex-direction: row;
  width: 100%;
  height: 60px;
  padding: 30px 0;
  align-items: center;
  justify-content: space-around;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.column-footer{
  display: flex;
  width: 25%;
  text-align: left;
  align-items: center;
  flex-direction: column;
}
.column-footer p{
  color: black;
  display: block;
}
.logo{
  width: 110px;
  margin: 0px;
}
/* footer */

/* userpanel */
.main-user-panel{
  height: 70vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,39,0.7)),url(imagesbake/banner5.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.userpanel-section{
  background: wheat;
  border-radius: 5px;
  height: 60%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.userpanel-section h2{
  font-size: 28px;
}
.userpanel-section h3{
  margin-top: 10px;
}
.userpanel-section h4{
  font-weight: 500;
}
.userpanel-section p{
  font-size: 16px;
}
.userpanel-buttons{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.userpanel-section a{
  text-decoration: none;
  background: orange;
  border-radius: 3px;
  color: white;
  width: 30%;
  padding: 6px 0px;
  text-align: center;
  margin: 5px;
  font-size: 14px;
  transition: all 0.1s ease-out;
}
.userpanel-section a:hover, .userpanel-form input[type="submit"]:hover{
  background: darkorange;
  cursor: pointer;
}
.userpanel-form{
text-align: center;
width: 100%;
}
.userpanel-form input[type="text"]{
  border: none;
  margin: 10px;
  background: gainsboro;
  padding: 10px 10px;
  border-radius: 2px;
}
.userpanel-form input[type="submit"]{
  border: none;
  background: orange;
  border-radius: 3px;
  color: white;
  width: 30%;
  padding: 6px 0px;
  text-align: center;
  margin: 5px 0px;
  font-size: 14px;
  transition: all 0.1s ease-out;
}
.userpanel-form input[type="password"]{
  border: none;
  margin: 10px;
  background: gainsboro;
  padding: 5px;
  border-radius: 2px;
}
.password-change-info{
  margin: 0px 0px 5px 0px;
  padding: 0;
  color: red;
}
.p-info{
  margin: 5px 0px;
  padding: 0;
  color: green;
}
/* userpanel */

/* menu */
.banner{
 min-height: 60vh;
 width: 100%;
 background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,39,0.7)),url(icons/donut1.jpg);
 background-position: center;
 background-size: cover;
 position: relative;
 color: black;
 text-align: center;
 display: flex;
 justify-content: center;
 align-items: center;
}
.banner h1{
 color: white;
 font-size: 40px;
}
.menu{
  display: flex;
  background: white;
  flex-direction: column;
  align-items: center;
}
.info-menu{
  color: green;
  padding: 0;
  margin: 10px;
  font-size: 16px;
  font-weight: 300;
}
.menu-list{
  width: 100%;
}
.menu-list-form{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0px 0px;
  background: white;
}
.product{
  display: flex;
  flex-direction: column;
  width: 30%;
  background: white;
  margin: 10px;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.product img{
  width: 90%;
  height: auto;
}
.add-button{
  border: none;
  border-radius: 3px;
  background: pink;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #181818;
  font-weight: 500;
  transition: 0.1s all ease-out;
}
.add-button:hover{
  background: deeppink;
  cursor: pointer;
}
.price-product {
    color: gray;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.product a{
  text-decoration: none;
  text-align: center;
}
.title-product{
  color: #181818;
  font-size: 16px;
  font-weight: 400;
}
/* menu */

/* employees portal */
.portal-main{
  width: 100%;
  min-height: 200vh;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,39,0.7)),url(icons/donuts4.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  color: black;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.options-menu{
  background: white;
  border-radius: 3px;
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 30px 10px;
  margin: 50px 0px;
}
.options-menu h2{
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 32px;
}
.options-menu img{
  height: auto;
  width: 100px;
  margin: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.options-menu ul{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.options-menu ul li{
  display: flex;
  flex-direction: row;
  align-items: center;
  background: lightblue;
  margin: 10px;
  padding: 10px;
  border-radius: 3px;
  justify-content: space-between;
  width: 90%;
}
.options-menu h3{
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 400;
  color: green;
}
.options-menu ul li p{
  margin: 10px;
  color: black;
  font-size: 16px;
}
.list-buttons{
  border: none;
  height: 30px;
  width: 70px;
  background: white;
  color: black;
  border-radius: 3px;
  margin: 5px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.1s all ease-out;
}
.list-buttons:hover{
  background: pink;
}
.column{
  width: 12%;
}
.add-list-button{
  border: none;
  padding: 10px 20px;
  background: white;
  color: black;
  border-radius: 3px;
  margin: 5px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.1s all ease-out;
}
.add-list-button:hover{
  background: pink;
}
.username{
  color: orange;
}
.buttons-list{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.links-ids{
  text-decoration: none;
  background: white;
  color: black;
  border-radius: 3px;
  margin: 5px;
  font-weight: 500;
  width: 90%;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  padding: 10px 0;
  transition: 0.1s all ease-out;
}
.links-ids:hover{
  background: pink;
}
/* employees portal */

